/*------------- CSS gÃŠnÃŠral -----------------*/

html, body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    height: 100px;
    width: 100%;
}

.titleAccueil{
    margin-top: -309px;
    color: white;
}

body {
    color: #404852;
}
{
    height:0px;
}
header {
    margin-top: 50px;
}

h3 {
    font-size: 22px;
}

a {
    color: #729CB8;
    transition: .3s;
    transition-duration: .3s;
}

a:hover, a:focus {
    color: #404852;
    text-decoration: none;
}

.containerCom{
    margin-top: 75px;
}

.form-group{
   display:flex;
   flex-direction:column;
   width: 80%;
   transform: translate(97px,11px);
}
/*------------- Header -----------------*/

header img {

    width: 100%;
    height: 650px;
    box-shadow: 2px 2px 5px #515c53;
}

.fa-bookmark{
    margin-left: 650px;
}

.fa-box{
color:red;
}

.Axel{
text-align: center;
width: 114%;
}

.fa-feather{
    margin-left: 580px;
}

.intro {
    position: absolute;
    top: 50%;
    width: 50%;
    color: #fff;
}


@media (max-width: 1024px) {
    .intro {
        top: 35%;
    }
}

@media (max-width: 768px) {
    .intro {
        display: none;
    }
}

/*------------- Nav -----------------*/

.navbar-inverse {
    background-color: #54548;
    border-color: transparent;
}

.navbar-inverse .navbar-nav>li>a,
.navbar-inverse .navbar-brand {
    color: #a8b6ca;
}

@media (min-width: 768px){
    .auth.navbar-nav {
        float: right;
    }
}

nav.navbar.categories.navbar-inverse {
    margin-top: 20px;
    background-color: #e3e3e3;
}

.navbar-inverse .navbar-nav>li>a,
.navbar-inverse .navbar-brand {
    color:white;
}

.burger {
    display: none;
}

@media all and (max-width: 767px) {
    
    .burger {
        display: block;
        position: fixed;
        background-color: #333;
        margin-top: .8em;
        right: 2.2em;
        z-index: 3;
        color: white;
        padding: 0;
        cursor: pointer;
        border-bottom: 4px solid currentColor;
        width: 28px;
        transition: border-bottom 1s ease-in-out;
        -webkit-transition: border-bottom 1s ease-in-out;
    }
    
    .burger:before,
    .burger:after {
        content: "";
        display: block;
        border-bottom: 4px solid currentColor;
        width: 100%;
        margin-bottom: 5px;
        transition: transform 0.5s ease-in-out;
        -webkit-transition: -webkit-transform 0.5s ease-in-out;
    }

    .burger.open {
        border-bottom: 4px solid transparent;
        transition: border-bottom 0.8s ease-in-out;
        -webkit-transition: border-bottom 0.8s ease-in-out;
    }
    .burger.open:before {
        transform: rotate(-405deg) translateY(1px) translateX(-3px);
        -webkit-transform: rotate(-405deg) translateY(1px) translateX(-3px);
        transition: transform 0.5s ease-in-out;
        -webkit-transition: -webkit-transform 0.5s ease-in-out;
    }
    .burger.open:after {
        transform: rotate(405deg) translateY(-4px) translateX(-5px);
        -webkit-transform: rotate(405deg) translateY(-4px) translateX(-5px);
        transition: transform 0.5s ease-in-out;
        -webkit-transition: -webkit-transform 0.5s ease-in-out;
    }
    .burger.open~#navbar {
        display: block;
        text-align: right;
    }
}


/*------------- Container -----------------*/

.alert {
    margin-top: 20px;

}

.containerLogin{
  transform: translate(279px,-50px);
}

.containerIdentifier{
  transform: translate(279px,-100px);
}

.containerRegister{
    font-size: 14px;
    transform: translate(279px,-200px);
}

.content {
    padding: 2em 0;
}

h1.title {
    font-size: 42px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 1rem;
    border-bottom: .75px solid #e3e3e3;
    color:#7090A0;
}

.goback{
    margin-left: 10px;
}

.title a,
.social a {
    color: #404852;
    transition: .3s;
    transition-duration: .3s; 
}

.title a:focus, .title a:hover,
.social a:focus, .social a:hover {
    color: #78ab4e;
    text-decoration: none;
}

.content-book {
    padding-bottom: 15px;
    margin-bottom: 10px;
    border-bottom: .5px solid #e3e3e3;
}

.item {
    text-align: justify; 
    color: #53564F; 
}

.title-chapter{
    text-align: center;    
}

.title-chapters{
    transform: translate(167px,31px);
}

.content{
    transform: translate(180px,0px);
}

.cover {
    width: 30%;
    height: 160px;
    transform: translate(-256px, 32px);
}

.principal {
    border: 1px solid #ededed;
    border-radius: 3px;
    padding: 0 15px 15px 15px;
    margin-bottom: 25px;
    box-shadow: 0 4px 4px hsla(0,0%,95%,.56);
}

.table-cat {
    margin: 0;
}

.table-cat>tbody>tr>td {
    padding: 8px 0;
    border-top: .75px solid #e3e3e3;
}

.table-cat>tbody>tr>td:hover {
    background-color: #e3e3e3;
}

p.fil {
    margin-top: 20px;
}

.group-container {
    margin: 1.3em 0;
}

.list-group-item-comment {
    background-color: #e3e3e3;
}

.list-group-item.list-group-item-comment.author,
.list-group-item.command {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.edit {
    margin-top: 20px;
}

.author-name {
    font-weight: 600;
}

fieldset{
 margin-top: 20px;

}

.paginate {
    text-align: center;
    margin-bottom: .9rem;
}

.paginate a {
    display: inline-block;
    width: 33px;
    height: 33px;
    margin-right: 10px;
    border: 1px solid #ededed;
    background-color: #fff;
    line-height: 33px;
    color: inherit;
    text-align: center;
    border-radius: 3px;
    transition-duration: .3s;
}

.paginate a.active, .paginate a:hover {
    background-color: #3f4751;
    border-color: #3f4751;
    color: #fff;
}

/*------------- CSS Admin -----------------*/
#iconMenu{
   margin-right: 10px;
}

#adminmenu {
    background-color: #404852;
    border-color: #080808;
    min-height: 500px;
    padding: 0;
}

.sidebar-menu a {
    display: block;
    height: 66px;
    border-top: 1px solid hsla(0,0%,100%,.05);
    border-bottom: 1px solid #2b333c;
    color: #939faf;
    line-height: 66px;
    padding: 0 15px;
}

.sidebar-menu a:hover {
    background-color: #485361;
    color: #fff;
}

#adminbody {
    padding: 20px;
}

.item-title {
    color: #fff;
    background-image: linear-gradient(0deg,#404852 0,#788698);
    border: 1px solid #404852;
}

.btn-success {
    font-weight: 700;
    background-color: #78ab4e;
    border-color: transparent;
    transition: .3s;
    transition-duration: .3s;
}

.btn-primary {
    margin: 5px;
}

.btn-success:active, .btn-success:hover, .btn-success:focus {
    background-color: transparent;
    border-color: #78ab4e;
    color: #78ab4e;
}

.btn-warning:active, .btn-warning:hover {
    color: #d58512;
    background-color: transparent;
    border-color: #d58512;
}

.btn-danger:active, .btn-danger:hover{
    color: #d43f3a;
    background-color: transparent;
    border-color: #d43f3a;
}

.btn-primary:active, .btn-primary:hover {
    color: #286090;
    background-color: transparent;
    border-color: #286090;
}

.return {
    margin-top: 20px;
}

.table {
    font-size: 14px;
}

thead {
    font-weight: bold;
}

td.action,
td.date {
    width: 18%;
}

td.action_comment {
    width: 13%;
}

tr>td a {
    margin: 0 5px;
}

.preview img {
    height: 64px;
    order: 1;
}

@media all and (max-width: 1200px) {
    td.action, td.action_item {
        width: auto;
    }

    td.action_item_comment {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
}

@media all and (max-width: 1024px) {
    td.book, td.book_item {
        width: 25%;
    }

    td.chapter, td.chapter_item, td.user_date, td.user_date_item {
        display: none;
    }
}

@media all and (max-width: 768px) {
    td.date, td.date_item {
        display: none;
    }

    td.book, td.book_item {
        width: auto;
    }

    td.action_item {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
}

@media all and (max-width: 570px) {
    td.user_email, td.user_email_item {
        display: none;
    }
}

@media all and (max-width: 450px) {
    .table>tbody>tr>td, .table>thead>tr>td {
        padding: 8px 1px; 
    }
}

@media all and (max-width: 370px) {
    td.id, td.id_item {
        display: none;
    }
}

/*---------------- Account.php --------------------------*/ 
.all_comment_title {
    padding: 0 15px;
    color: #a8b6ca;
    font-size: 14px;
    font-weight: 700;
    background-image: linear-gradient(0deg,#404852 0,#788698);
    border: 1px solid #404852;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.all_comment_title h4 {
    line-height: 51px;
    margin: 0;
}

.all_comment_title h4 a {
    color: #fff;
    transition: .3s;
    transition-duration: .3s;

}

.all_comment_title h4 a:hover,
.all_comment_title h4 a:focus {
    text-decoration: none;
    color: #efbb6f;
}

.all_comment_content {
    border: 1px solid #e0e0e0;
    background-color: #fff;
    border-top: none;
    margin-bottom: 20px;
}

.all_comment_item {
    padding: 15px;
}

.all_comment_book, 
.all_comment_date,
.date_item,
.info {
    font-size: 12px;    
    font-weight: 400;
    color: #767676;
}

/*------------- Footer -----------------*/

.footer {
    position: relative;
    margin-top: 50px;
    padding: 25px 0;
    font-size: .9em;
    color: #404852;
    background-color: #f9f9f9;
    border-top: 3px solid #ececec;
}

.block {
    border-right: .75px solid #e3e3e3;
}

.sign img {
    width: 37%;
    height: 247px;
    transform: translate(-282px, 20px);  
}

.title-bio{

color: #7090A0;
}

.paraBio{
  transform: translate(183px, -148px);
  color: #53564F;
  width: 75%;
}

.essai{
    background-color:#2D3D29;
}

.row{
    text-align: center;
    width: 88%;
}

.containerBio{
transform: translate(100px, 60px);
}

.bio {
    font-size: 1.15em;
    width: 76%;
    transform: translate(317px, 35px);
    text-align: justify;
}

.social {
    font-size: 2.5em;
}



.footer_title {
    display: block;
    font-weight: 700;
    font-size: 1.3em;
    color: #404852;
    margin-bottom: 1em;
}

.footer_quote:before {
    position: absolute;
    top: 0;
    left: 0;
    color: #e0e0e0;
    font-family: FontAwesome;
    content: "\F10D";
    font-size: 16px;
}

ul.contact {
    padding: 0;
    list-style: none;
}

/*------------- Error 404 -----------------*/

#error {
    padding: 150px 0; 
    text-align: center;
}

.hgroup {
    margin: 0 auto;
}

.hgroup h1,
.hgroup h2 {
    margin: 0 0 0 40px;
    padding: 0;
    display: inline-block;
    text-transform: uppercase;
}

.hgroup h1 {
    margin-top: -90px;
    font-size: 200px;
}

.hgroup h2 {
    font-size: 60px;
}

.hgroup h2 span {
    display: block;
    font-size: 30px;
}

#error p {
    margin: 25px 0 0 0;
    padding: 0;
    font-size: 16px;
}

#error p:first-child {
    margin-top: 0;
}